 
.deleteCard{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}